// Align
.u-center-text { text-align: center; }

// Border-radius
.u-border-radius {  border-radius: 3px; }

// Margins
// .u-margin-bottom-big { margin-bottom: 8rem; }

// .u-margin-bottom-medium { margin-bottom: 4rem; }

// .u-margin-bottom-small { margin-bottom: 1.5rem; }

// .u-margin-top-big { margin-top: 8rem; }

// .u-margin-top-huge { margin-top: 10rem; }

// Box-shadows
// .u-box-shadow-dark {
//     box-shadow: 0 1.5rem 4rem rgba($color-black, .5);
// }

// .u-box-shadow-light {
//     box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
// }

// .u-box-shadow-penumbra {
//     box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
// }

// .u-box-shadow-medium {
//     box-shadow: 0 0.5rem 4rem rgba($color-black, .5);
// }

// .u-box-shadow-hover {

//     &:hover {
//         box-shadow: 0 0.5rem 5rem rgba($color-black, .5);
//     }
// }

// .u-box-shadow-btn {
   
//     box-shadow: 0 0.5rem 1rem rgba($color-black, .2);

//     &:hover {
//         box-shadow: 0 1rem 2rem rgba($color-black, .2);
//     }

//     &:active {
//         box-shadow: 0 0.5rem 1rem rgba($color-black, .2);
//     }
// }



