.search {

    &__bar {
        overflow: hidden;
        width: 100%;
        
        @include atMedium {
            width: 70%;
        }

        @include atLarge {
            width: 60%;
        }

        margin: 0 auto;

        &__input {
            width: calc(100% - 5.2rem);
            height: 1rem;

            @include atMedium {
                text-indent: 1rem;
            }

            @include atLarge {
                width: calc(100% - 5.7rem);
                height: 1.5rem;
                
            }
            
            margin: 0 auto;
            
            border-top: 1px solid $color-grey;
            border-left: 1px solid $color-grey;
            border-bottom: 1px solid $color-grey;
            border-right: none;

            border-radius: 5px 0 0 5px;

            padding: 1rem 1rem;
            outline: none;

            &::-webkit-input-placeholder {
                color: $color-grey;

                @include atMedium {
                    font-size: 1.1rem;
                }
            }
        }

        &__icon-wrapper {
            position: relative;
            float: right;
            width: 3rem;
            height: 3rem;
            background: $color-orange;
            border-radius: 0 5px 5px 0;
            border: 1px solid $color-grey;

            @include atLarge {
                width: 3.5rem;
                height: 3.5rem;
            }

            & a {
                display: block;
                width: 3rem;
                height: 3rem;
                cursor: pointer;
                content: "";
            }
        }

        &__icon {
            position: absolute;
            color: $color-white;
            @include centering;
        }

        &__radio {
            width: 100%;
            display: grid;
            position: relative;
            grid-template-columns: 0.1fr 0.3fr 0.1fr 0.2fr 0.1fr 1fr;

            @include atMedium {
                width: 80%;
                grid-template-columns: 0.1fr 0.3fr 0.1fr 0.2fr 0.1fr 1fr;
            }

            @include atLarge {
                width: 60%;
            }
            
            margin-right: auto;
            margin-left: auto;
            margin-top: .75rem;

            & input {
                display: block;
                position: absolute;
                @include centering;
            }

            & label {
                font-size: 1rem;
                padding-left: 5px;

                @include atSmall {
                    font-size: 1.2rem;
                }

                @include atMedium {
                    font-size: 1.3rem;
                }

                @include atLarge {
                    font-size: 1.4rem;
                }
            }
        }

        &__radio-wrapper {
            height: 100%;
            position: relative;
        }
    }
}