
// COLORES 
$color-default: #333;

$color-white-secondary: #F7F7F7;
$color-white: #FFFFFF;

$color-red: #E51118;

$color-blue-light: #2998FF;
$color-blue-dark: #5643FA;

$color-grey: #777777;

$color-orange: #FFB900;

$color-green-light: #7ED56F;
$color-green-dark: #55C57A;

// FONT
$default-font-size: 1.6rem;